<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
</head>

<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <div class="main">
            <div class="online_player">
                <h2>{{ curUsers }} / {{ maxUsers }}</h2>
                <hr>
                {% for user in users %}
                    <div class="user">
                        <p>{{ user }}</p>
                    </div>
                {% endfor %}
            </div>

            <a href="{{ url_for('home') }}">Back Home</a>
        </div>
    </div>

</body>

</html>