<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roads of Fate - Card Dragger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/draggable.css') }}">
    
</head>
<body>
    <div id="container" style="position: relative; width: 100%; height: 500px; border: 1px solid black;">
        <img id="draggable" src="{{ url_for('static', filename='assetsFolder/Cards/Default_01.jpg') }}">
    </div>
    <script src="{{ url_for('static', filename='dragger.js') }}"></script>
</body>
</html>