<!DOCTYPE html>
<html>

<head>
    <title>Roads of Fate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>

<body>
    <div class="container">
        <h1>Willkommen {% if user %}{{ user }}{% else %}Gast{% endif %}!</h1>
        <div class="main">
            <a href="{{ url_for('cards') }}">Karten auswählen</a>
            <a href="{{ url_for('deck') }}">Aktuelles Deck ansehen</a>
            <a href="{{ url_for('open_carddragger') }}">Card Dragger Test</a>
            <a href="{{ url_for('open_sheet') }}">Sheet</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>

</body>

</html>