<!DOCTYPE html>
<html>

<head>
    <title>Roads of Fate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome {% if user %}{{ user }}{% else %}Gast{% endif %}!</h1>
        <div class="main">
            {% if user == 'admin' %}
                <a href="{{ url_for('admin') }}">Admin Panel</a>
            {% endif %}
            <a href="{{ url_for('deck') }}">View your deck</a>
            <a href="{{ url_for('open_carddragger') }}">Card Dragger Test</a>
            <a href="{{ url_for('open_sheet') }}">Character sheet</a>
            <a href="{{ url_for('shame') }}">Hall of Shame</a>
            <a id="settings">Settings</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>

</body>

</html>