<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sheet.css') }}">
</head>
<body>
    <div class="quick-sheet">
        <div class="header">
            <h1>Character Sheet</h1>
        </div>
        <div class="attributes">
            <div class="attribute vigor">
                <span>Vigor</span>
                <button class="arrow down" onclick="adjustScore('vigor', -1)">&#9664;</button>
                <span class="score" id="vigor-score">5</span>
                <button class="arrow up" onclick="adjustScore('vigor', 1)">&#9654;</button>
            </div>
            <div class="attribute finesse">
                <span>Finesse</span>
                <button class="arrow down" onclick="adjustScore('finesse', -1)">&#9664;</button>
                <span class="score" id="finesse-score">5</span>
                <button class="arrow up" onclick="adjustScore('finesse', 1)">&#9654;</button>
              </div>
              <div class="attribute spirit">
                <span>Spirit</span>
                <button class="arrow down" onclick="adjustScore('spirit', -1)">&#9664;</button>
                <span class="score" id="spirit-score">5</span>
                <button class="arrow up" onclick="adjustScore('spirit', 1)">&#9654;</button>
              </div>
              <div class="attribute mind">
                <span>Mind</span>
                <button class="arrow down" onclick="adjustScore('mind', -1)">&#9664;</button>
                <span class="score" id="mind-score">5</span>
                <button class="arrow up" onclick="adjustScore('mind', 1)">&#9654;</button>
              </div>
        </div>
        <div class="talents">
            <h3>Vigor Talents</h3>
            <div class="talent">
              <span>Climbing (VGR/FNS)</span>
              <button class="arrow down" onclick="adjustScore('climbing', -1)">&#9664;</button>
              <span class="score" id="climbing-score">B</span>
              <button class="arrow up" onclick="adjustScore('climbing', 1)">&#9654;</button>
            </div>
            <div class="talent">
              <span>Swimming (VGR/SPR)</span>
              <button class="arrow down" onclick="adjustScore('swimming', -1)">&#9664;</button>
              <span class="score" id="swimming-score">A</span>
              <button class="arrow up" onclick="adjustScore('swimming', 1)">&#9654;</button>
            </div>
          </div>
    </div>
    <script src="{{ url_for('static', filename='sheet.js') }}"></script>
</body>
</html>