body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: var(--bg);
    color: var(--text-color);
}

.main {
    width: 400px;
    padding: 20px;
    background: var(--text-color);
    border-radius: 15px;
    box-shadow: 5px 20px 50px var(--shadow);
    text-align: center;
    background: var(--panel-bg);
}

#parent {
    display: flex;
    column-gap: 20px;
}


.central_div {
    padding: 20px;
    background: var(--text-color);
    border-radius: 15px;
    box-shadow: 5px 10px 20px var(--shadow);
    text-align: center;
    background: var(--link-bg);
}

#shadow {
    box-shadow: 5px 10px 20px var(--shadow);
}

#narrow {
    width: 100px;
}

#wide {
    flex: 1;
}

#userFormat {
    background: var(--panel-bg);
    border-radius: 15px;
}

#userFormatLink {
    display: block;
    text-decoration: none;
    background: var(--link-bg);
    color: var(--text-color);
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    transition: background 0.3s;
}

#userFormatLink:hover {
    background: var(--link-bg-hover);
}

.container {
    display: flex;
    flex-direction: column; /* Sorgt für eine vertikale Anordnung */
    align-items: center; /* Zentriert den Inhalt */
    gap: 50px; /* Abstand zwischen Begrüßung und Menü */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--headline);
}

a {
    display: block;
    text-decoration: none;
    background: var(--link-bg);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background 0.3s;
}

a:hover {
    background: var(--link-bg-hover);
}
