body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: var(--bg);
  color: var(--text-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  color: var(--alt-text-color);
}

h1,
h2 {
  margin: 5px 0;
  color: var(--text-color);
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

.back-button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 20px;
  background: linear-gradient(45deg, #ffcc00, #ff9900);
  color: black;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.6);
}

.back-button:hover {
  background: linear-gradient(45deg, #ffd700, #ff6600);
  box-shadow: 0px 6px 12px rgba(255, 204, 0, 0.8);
  transform: scale(1.05);
}

/* Container für die Karten */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.card {
  width: 180px;
  /* 3 Karten nebeneinander */
  max-width: 200px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 10px;
}

.card img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}