 body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--bg);
    color: var(--text-color);
}

header {
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
}

table {
    width: 98%;
    margin: 20px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid var(--text-color);
}

th,
td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: var(--link-bg);
    color: var(--text-color);
}

.timestamp {
    color: gray;
}

a {
    display: block;
    text-decoration: none;
    background: var(--link-bg);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background 0.3s;
}

a:hover {
    background: var(--link-bg-hover);
}