 body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #24243e);
    color: white;
}

header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

table {
    width: 98%;
    margin: 20px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #7d5bd6;
    color: white;
}

.timestamp {
    color: gray;
}

a {
    display: block;
    text-decoration: none;
    background: #573b8a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background 0.3s;
}

a:hover {
    background: #6d44b8;
}