body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #24243e);
    color: white;
}

.quick-sheet {
    background-color: #4f535c;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
}

.header h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.attributes, .talents {
    margin-top: 20px;
}

.attribute, .talent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3f47;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.attribute span, .talent span {
    font-weight: bold;
    font-size: 16px;
}

.score {
    background-color: #ffffff;
    color: #000;
    border-radius: 8px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px;
}

.arrow {
    background-color: #23272a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.arrow.up {
    background-color: #43b581;
}

.arrow.down {
    background-color: #f04747;
}

.talents h3 {
    margin-bottom: 10px;
    color: #ffffff;
}

button {
    display: block;
    text-decoration: none;
    background: #573b8a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background 0.3s;
}

.buttons {
    padding: 20px;
    background: #eee;
    border-radius: 15px;
    box-shadow: 5px 10px 20px #000;
    text-align: center;
    background: #573b8a;
    display: flex;
    min-width: 100%;
}

a {
    display: block;
    text-decoration: none;
    background: #573b8a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background 0.3s;
}

.hide {
    opacity: 0;
}

div {
    opacity: 1;
}